@import '../../assets/styles/components/tweet';

.tweet {
  @extend .container;
  border-bottom: 1px solid var(--color-grey);
  cursor: pointer;
  transition: background-color .1s ease-in-out;

  &:last-of-type {
    border-bottom: none
  }

  &:hover {
    background-color: var(--color-grey-4);
  }
}

.figure {
  @extend .figure;
}

.avatar {
  @extend .avatar;
}

.tweet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-info {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1.7rem;
}

.id {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-grey-3);
}

.date {
  font-size: 1.3rem;
  grid-column: 2 / -1;
  color: var(--color-grey-3);
  margin-top: 0.7rem;
}

.body {
  grid-column: 2 / -1;
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  white-space: pre-wrap;
  font-weight: normal;
}

.divider {
  grid-column: 2 / -1;
  margin: 2rem 0 1rem 0;
}

.actions-container {
  grid-column: 2 / -1;
}

.actions {
  display: flex;
  list-style-type: none;
  padding: 0;

  & > * + * {
    margin-left: 2rem;
  }
}

.action {
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50rem;

  &:last-of-type {
    margin-left: auto;
  }

  &:hover {
    background-color: var(--color-blue-2);
  }
}

.action-icon {
  fill: var(--color-white);
  width: 2rem;
  height: 2rem;
}
