@import '../../assets/styles/components/tweet';

.tweet {
  @extend .container;
}

.figure {
  @extend .figure;
}

.avatar {
  @extend .avatar;
}


.divider {
  grid-column: 2 / -1;
  margin: 1rem 0;
}

.button {
  grid-column: 2 / -1;
  max-width: fit-content;
  justify-self: flex-end;
}