:root {
  --font-main-size: 1.6rem;

  --color-bg-dark: #15202B;
  --color-white: #fff;
  --color-grey-3: rgb(209, 209, 209);
  --color-grey-4: #1C2732;
  --color-grey: #38444d;
  --color-grey-2: #192734;
  --color-blue: #1da1f2;
  --color-blue-3: #166da3;
  --color-blue-2: #1da0f22d;

  --space-around: 1.5rem;
}